.sidebar-root {
    height: 100%;
    border-color: #bbbcbd;
}

.sidebar-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #ffffff;
    border-radius: 0;
    border-color: #bbbcbd;
    padding: 0;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar-content .ds-card {
    border-radius: 0rem;
    border: 0;
    background-color: transparent;
}

.sidebar-input {
    margin-top: 1rem;
    flex: 0 0 auto;
    background-color: #bbbcbd;
    border: 0;
}

.sidebar-input-content {
    display: flex;
    gap: 0.5rem;
}

.sidebar-input-field {
    border: none;
}

.sidebar-content .chat-bubble {
    border-radius: 1rem;
    background-color: cyan;
    padding: 1rem;
}