.sidebar-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
}

.sidebar-output {
    padding: 0.4rem;
}

.sidebar-input {
    display: flex;
    gap: 1rem;
    padding: 0.4rem;
}

.chat-bubble-wrapper,
.chat-text-wrapper {
    display: flex;
    width: 100%;
}

/* Alignment */
.chat-bubble-wrapper.left {
    justify-content: flex-start;
}

.chat-text-wrapper.right {
    justify-content: flex-end;
}

.chat-bubble,
.chat-text {
    width: fit-content;
    max-width: 70%;
    margin: 1rem;
}

.sidebar-content .chat-bubble {
    border-radius: var(--ds-border-radius-base);
    background-color: var(--ds-color-accent-base-default);
    color: var(--ds-color-base-contrast-default);
    padding: var(var(--dsc-button-padding));
}